* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}

.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 200%;
}

a.pure-button-secondary {
  background: #2d3e50;
  color: white;
  border-radius: 5px;
  font-size: 120%;
}

a.pure-button-gray {
  background: #7b828a;
  color: white;
  border-radius: 5px;
  font-size: 120%;
}

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
  background: #2d3e50;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
}

.splash-subhead a {
  text-decoration: none;
  color: white;
}

.content-wrapper {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;

}

.content {
  padding: 1em 1em 3em;
}

.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.content-head-ribbon {
  color: white;
}

.content-subhead {
  color: #1f8dd6;
}

.content-subhead i {
  margin-right: 7px;
}

.author {
  align-self: center;
}

.author a {
  text-decoration: none;
  color: #7f8c8d;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .splash {
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  .l-box-lrg {
    border: none;
  }
}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 65%;
  border-radius: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#rulesInput {
  min-width: 100%;
}

.editorOptions {
  width: 100%;
  text-align: center;
}

.highlighted-rule {
  font-weight: bold;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px gold, 0 0 40px gold, 0 0 50px gold, 0 0 60px gold, 0 0 70px gold;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px goldenrod, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod, 0 0 80px goldenrod;
  }
}